$env:PORT="3000"
$env:FRONTEND_ORIGIN="http://localhost:8000"

$env:JWT_SECRET="local-development-secret-that-is-at-least-32-characters"
$env:DB_HOST="127.0.0.1"
$env:DB_PORT="3306"
$env:DB_NAME="dbee"
$env:DB_USER="root"
$env:DB_PASSWORD="replace-with-your-database-password"
$env:DIALOGFLOW_PROJECT_ID="hemakesh-qiwp"
$env:DIALOGFLOW_LANGUAGE_CODE="en"
$env:GOOGLE_APPLICATION_CREDENTIALS="C:\path\to\service-account.json"